<h3>
    Creating Observable object and use it with async pipe in the template
</h3>

<button (click)="stop()">Stop it</button> 
<button (click)="resume()">Resume</button>
<br>

Result:  <span> {{ data_of | async }} </span>
<br>
<div>
    <span> {{ obs | async }} </span>
    <span> {{ obs | async }} </span>
    <span> {{ obs | async }} </span>
    <span> {{ obs | async }} </span>
    <span> {{ obs | async }} </span>
</div>

<div>
    <span> {{ obs | async }} </span>
    <span> {{ obs | async }} </span>
    <span> {{ obs | async }} </span>
    <span> {{ obs | async }} </span>
    <span> {{ obs | async }} </span>
</div>

<div>
    <span> {{ obs | async }} </span>
    <span> {{ obs | async }} </span>
    <span> {{ obs | async }} </span>
    <span> {{ obs | async }} </span>
    <span> {{ obs | async }} </span>
</div>

<div>
    <span> {{ obs | async }} </span>
    <span> {{ obs | async }} </span>
    <span> {{ obs | async }} </span>
    <span> {{ obs | async }} </span>
    <span> {{ obs | async }} </span>
</div>

<div>
    <span> {{ obs | async }} </span>
    <span> {{ obs | async }} </span>
    <span> {{ obs | async }} </span>
    <span> {{ obs | async }} </span>
    <span> {{ obs | async }} </span>
</div>